* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  background-color: #f7f9fc;
  color: #333333;
}

/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5em 5em;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.paw-icon {
  width: 3em;
}

.dog-logo {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 6em;
  height: auto;
}

h1 {
  font-family: "Fredoka One", sans-serif;
  font-size: 2rem;
  color: #4a90e2;
}

h2 {
  font-size: 1.25rem;
  color: #333333;
}

/* MAIN  */

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em 3em;
  text-align: center;
}

main section {
  margin-bottom: 2em;
}

.breed-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin: 1em 0;
}

.breed-controls p {
  font-size: 1.5rem;
}

.breed-controls select {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 2px solid #4a90e2;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.breed-controls select:focus {
  border-color: #f76c6c;
}

.dog-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.doggo-img {
  width: auto;
  max-height: 25em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER  */

footer {
  text-align: center;
  padding: 1rem;
  background-color: #4a90e2;
  color: #ffffff;
}

/* KEYFRAMES */

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

.mole {
  height: 334px;
  width: 334px;
  background-color: brown;
  border-radius: 50%;
}

.spin {
  animation: spin 3s linear infinite;
}
